div{

}
h1{
display: inline;
font-family: 'kalam', sans-serif, serif;

}
h2{
  margin-top: 0;
  font-family: 'Roboto', sans-serif, serif;
}
h4{
  font-size: 20px;
  padding-top: 20px;
}
.middle{



}
.bottom{

padding-left: 25em;
padding-right: 32em;



}
.top{

  background-color: #34877E;
  padding-top: 50px;
  padding-bottom: 50px;

}
body{
margin: 0;
text-align: center;
font-family: Roboto, kalam, sans-serif, serif;
}
.im{
  padding-top: 5px;
}
.img1{
  width: 70px;
  height: 70px;
  padding-top: 50px;
}
h3{
  font-family: Roboto, sans-serif, serif;
  color: blue;
  font-size: 25px;
}
.my{
margin: auto;
text-align: center;
line-height: 35px;
font-size:0.5em;
}
.img2{
  float:left;
  width: 6.2em;
  padding-top: 1.6em;
  

}
p{
  font-family: Roboto;
  font-size: 20px;
}
.hol{
  font-family: kalam, sans-serif;
  font-size: 35px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #101012;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
a{
  font-size: 15px;
}
.llb{
  margin-top: 20px;
  background-color: grey;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
